ProyectoAnalisisII/src/main/resources/META-INF/*
ProyectoAnalisisII/target/classes/META-INF/*
ProyectoAnalisisII/target/classes/gt/edu/url/*
Archivos/BDAceitera.mwb.bak
ProyectoAnalisisII/target/maven-status/*
ProyectoAnalisisII/target/maven-archiver/*
ProyectoAnalisisII/target/ProyectoAnalisisII-1.0-SNAPSHOT.jar
